*,
*::before,
*::after {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    --accent-color-green: rgba(32, 129, 110);
    --accent-color-red: rgb(160, 3, 3);
    --accent-color-grey: #555;
    --starter-novel: rgb(252, 203, 130);
    --standard-novel: #f2f3b9;
    --ya-novel: #ccadf7;
    --short-story: #CBF3B9;
    --science-novel: #ff726e;
    --ilu-novel: #b9ebf3;
    --legend-list: rgba(236, 245, 243, 0.808);

}

body {
    font-family: sans-serif;
    position: relative;
    margin: 0.5rem;
}

header>div,
header>nav>ul {
    display: flex;
}

header>div>div {
    flex-basis: 0;
}

header>div>div:first-child {
    flex-grow: 1;
}

header>div>div:last-child {
    flex-grow: 3;
    font-style: italic;
    align-self: center;
}

header img {
    display: block;
    padding: 0 10px;
    margin: auto;
    height: 10vw;

}

.active {
    background-color: var(--accent-color-green);
    opacity: 0.932;
    color: #fff;
}

main {
    position: relative;
    width: 100%;
    margin-top: 0px;
    padding-top: 5rem;

}

nav {
    position: sticky;
    top: 0;
    z-index: 9;
}

nav>ul {
    display: flex;
    flex-direction: row;
    background-color: #fff;
    border-bottom: 1px solid var(--accent-color-grey);
}


nav>ul,
nav>ul>li>ul {
    list-style: none;
    padding: 0;
}

nav>ul>li {
    flex-basis: 0;
    flex-grow: 1;
    text-align: center;
    font-size: 1.3rem;
    font-weight: 600;
    border-top: 2px solid var(--accent-color-grey);
    position: relative;
}

nav>ul>li>a,
nav>ul>li>ul a {
    display: block;
    text-decoration: none;
    color: black;
}

nav>ul>li:hover {
    background-color: var(--accent-color-grey);

}

nav>ul>li:hover>a {
    color: #fff;
}

nav>ul>li>a {
    padding: 15px;
}

nav>ul>li>ul>li {
    border: 1px solid var(--accent-color-grey);
    border-top: none;
    background-color: rgb(224, 224, 224);
    padding: 10px 0;
    font-size: 1.2rem;
}

nav>ul>li>ul {
    display: none;
}

nav>ul>li:hover>ul {
    display: block;
    position: absolute;
    background-color: #fff;
    width: 100%;
    text-align: center;
    z-index: 2;
}

nav>ul>li>ul>li:hover {
    background-color: rgb(128, 127, 127);
}

nav>ul>li>ul>li:hover a {
    color: #fff;
}

article {
    margin: 70px 30px;
}

h2 {
    padding-bottom: 20px;
}

.legend-list {
    display: flex;
    flex-basis: 0;
    align-items: space-between;
    height: 80px;
    width: 720px;
    margin: 0 auto;
    border: 1px dotted black;
    background-color: var(--legend-list);
}

.legend-list div {
    flex-grow: 1;
}

.legend-list-item {
    display: flex;
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    align-items: center;
    text-align: center;
    font-size: 11px;
    font-weight: 400;
    box-sizing: border-box;
}

.legend-list-item>p {
    flex-grow: 1;
    align-self: center;
}

.legend-list div:first-child>p {
    font-weight: 700;
    font-size: 13px;
}

.legend-list>div:nth-child(2) {
    background-color: var(--starter-novel);
}

.legend-list>div:nth-child(3) {
    background-color: var(--standard-novel);
}

.legend-list>div:nth-child(4) {
    background-color: var(--ya-novel);
}

.legend-list>div:nth-child(5) {
    background-color: var(--short-story);
}

.legend-list>div:nth-child(6) {
    background-color: var(--science-novel);
}

.legend-list>div:nth-child(7) {
    background-color: var(--ilu-novel);
}


.readingOrder {
    display: grid;
    margin: 5rem auto;
    width: 100%;
    /* min-width: 1300px; */

    /*
    
    --OVO JE PRVA VERZIJA--

    grid-template: "row1col1 row1col2 row1col34 row1col34 row1col5 row1col6 row1col7 row1col8 row1col9 row1col10 row1col11"
                   "row2col1 row2col2 row2col3 row2col4 row2col5 row2col6 row2col7 row2col8 row2col9 row2col10 row2col11"
                   "row3col1 row3col2 row3col3 row3col4 row3col5 row3col6 row3col7 row3col8 row3col9 row3col10 row3col11"
                   "row4col1 row4col3 row4col3 row4col4 row4col5 row4col6 row4col7 row4col8 row4col9 row4col10 row4col11"
                   "row5col1 row5col2 row5col3 row5col4 row5col5 row5col6 row5col7 row5col8 row5col9 row5col10 row5col11"
                   "row6col1 row6col2 row6col3 row6col4 row6col5 row6col6 row6col78 row6col78 row6col9 row6col10 row6col11"
                   "row7col1 row7col23 row7col23 row7col4 row7col5 row7col67 row7col67 row7col8 row7col9 row7col10 row7col11"
                   "row8col1 row8col2 row8col3 row8col4 row8col5 row8col6 row8col7 row8col8 row8col9 row8col10 row8col11"
                   "row9col1 row9col2 row9col3 row9col4 row9col5 row9col6 row9col7 row9col8 row9col9 row9col10 row9col11"
                   "row10col1 row10col2 row10col3 row10col4 row10col56 row10col56 row10col7 row10col8 row10col9 row10col10 row10col11";
    grid-template-columns: 8.5vw 8.5vw 8.5vw 8.5vw 8.5vw 8.5vw 8.5vw 8.5vw 8.5vw 8.5vw 8.5vw;
    grid-template-rows: 8.5vw 8.5vw 8.5vw 8.5vw 8.5vw 8.5vw 8.5vw 8.5vw 8.5vw 8.5vw;
    */

    grid-template-columns: repeat(11, 8.5vw);
    grid-template-rows: repeat(10, 8.5vw);

    /*  grid-template-columns: repeat(11, 8.5vw);*/

    align-content: stretch;
    justify-content: stretch;
    box-sizing: border-box;
}

/*
.r1c1   { grid-area: row1col1;}
.r1c2   { grid-area: row1col2;}
.r1c34   { grid-area: row1col34;}

.r1c5   { grid-area: row1col5;}
.r1c6   { grid-area: row1col6;}
.r1c7   { grid-area: row1col7;}
.r1c8   { grid-area: row1col8;}
.r1c9   { grid-area: row1col9;}
.r1c10  { grid-area: row1col10;}
.r1c11  { grid-area: row1col11;}
 
.r2c1   { grid-area: row2col1;}
.r2c2   { grid-area: row2col2;}
.r2c3   { grid-area: row2col3;}
.r2c4   { grid-area: row2col4;}
.r2c5   { grid-area: row2col5;}
.r2c6   { grid-area: row2col6;}
.r2c7   { grid-area: row2col7;}
.r2c8   { grid-area: row2col8;}
.r2c9   { grid-area: row2col9;}
.r2c10  { grid-area: row2col10;}
.r2c11  { grid-area: row2col11;}
 
.r3c1   { grid-area: row3col1;}
.r3c2   { grid-area: row3col2;}
.r3c3   { grid-area: row3col3;}
.r3c4   { grid-area: row3col4;}
.r3c5   { grid-area: row3col5;}
.r3c6   { grid-area: row3col6;}
.r3c7   { grid-area: row3col7;}
.r3c8   { grid-area: row3col8;}
.r3c9   { grid-area: row3col9;}
.r3c10  { grid-area: row3col10;}
.r3c11  { grid-area: row3col11;}

.r4c1   { grid-area: row4col1;}
.r4c3   { grid-area: row4col3;}
.r4c4   { grid-area: row4col4;}
.r4c5   { grid-area: row4col5;}
.r4c6   { grid-area: row4col6;}
.r4c7   { grid-area: row4col7;}
.r4c8   { grid-area: row4col8;}
.r4c9   { grid-area: row4col9;}
.r4c10  { grid-area: row4col10;}
.r4c11  { grid-area: row4col11;}
 
.r5c1   { grid-area: row5col1;}
.r5c2   { grid-area: row5col2;}
.r5c3   { grid-area: row5col3;}
.r5c4   { grid-area: row5col4;}
.r5c5   { grid-area: row5col5;}
.r5c6   { grid-area: row5col6;}
.r5c7   { grid-area: row5col7;}
.r5c8   { grid-area: row5col8;}
.r5c9   { grid-area: row5col9;}
.r5c10  { grid-area: row5col10;}
.r5c11  { grid-area: row5col11;}

.r6c1   { grid-area: row6col1;}
.r6c2   { grid-area: row6col2;}
.r6c3   { grid-area: row6col3;}
.r6c4   { grid-area: row6col4;}
.r6c5   { grid-area: row6col5;}
.r6c6   { grid-area: row6col6;}
.r6c78  { grid-area: row6col78;}
.r6c9   { grid-area: row6col9;}
.r6c10  { grid-area: row6col10;}

.r7c1   { grid-area: row7col1;}
.r7c23  { grid-area: row7col23;}
.r7c4   { grid-area: row7col4;}
.r7c5   { grid-area: row7col5;}
.r7c67  { grid-area: row7col67;}
.r7c8   { grid-area: row7col8;}
.r7c9   { grid-area: row7col9;}
.r7c10  { grid-area: row7col10;}
.r7c11  { grid-area: row7col11;}
 
.r8c1   { grid-area: row8col1;}
.r8c2   { grid-area: row8col2;}
.r8c3   { grid-area: row8col3;}
.r8c4   { grid-area: row8col4;}
.r8c5   { grid-area: row8col5;}
.r8c6   { grid-area: row8col6;}
.r8c7   { grid-area: row8col7;}
.r8c8   { grid-area: row8col8;}
.r8c9   { grid-area: row8col9;}
.r8c10  { grid-area: row8col10;}
.r8c11  { grid-area: row8col11;}

.r9c1   { grid-area: row9col1;}
.r9c2   { grid-area: row9col2;}
.r9c3   { grid-area: row9col3;}
.r9c4   { grid-area: row9col4;}
.r9c5   { grid-area: row9col5;}
.r9c6   { grid-area: row9col6;}
.r9c7   { grid-area: row9col7;}
.r9c8   { grid-area: row9col8;}
.r9c9   { grid-area: row9col9;}
.r9c10  { grid-area: row9col10;}
.r9c11  { grid-area: row9col11;}

.r10c1  { grid-area: row10col1;}
.r10c2  { grid-area: row10col2;}
.r10c3  { grid-area: row10col3;}
.r10c4  { grid-area: row10col4;}
.r10c56 { grid-area: row10col56;}
.r10c7  { grid-area: row10col7;}
.r10c8  { grid-area: row10col8;}
.r10c9  { grid-area: row10col9;}
.r10c10 { grid-area: row10col10;}
.r10c11 { grid-area: row10col11;}
*/

.wide {
    grid-column: span 2;
}

.circle {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    position: relative;
}

.book {
    display: flex;
    cursor: pointer;
    width: 90%;
    height: 90%;
    margin: 5%;
    align-items: center;
    /* Vertical center alignment */
    justify-content: center;
    background-color: var(--standard-novel);
    border-radius: 50%;
    text-align: center;
    font-size: 11px;
    font-weight: 700;
    padding: 2%;
    box-sizing: border-box;
    position: relative;
    z-index: 1;
    transition: transform 500ms;
}

.book:hover,
.book:focus {
    transform: scale(1.1);
    z-index: 1;
    box-shadow: 0 0 15px #555;
    transition: transform 250ms;
}

.line-full--legend {
    position: absolute;
    z-index: 0;
    height: 85%;
    width: 2px;
    bottom: 25%;
    left: 5%;
    border-right: 2px solid var(--accent-color-red);
    box-sizing: border-box;
    transform-origin: center bottom;
}

.line-full--legend {
    transform: rotate(90deg);
}

.line-dashed--legend {
    position: absolute;
    z-index: 0;
    height: 85%;
    width: 2px;
    left: 5%;
    bottom: 25%;
    border-right: 2px dashed var(--accent-color-red);
    box-sizing: border-box;
    transform-origin: center bottom;
}

.line-dashed--legend {
    transform: rotate(90deg);
}

.readingOrder .r1c34>div:first-child {
    position: relative;
    z-index: 1;
    box-sizing: border-box;
    padding: 15%;
    transform-origin: 40% 70%;
    font-weight: 500;
    font-family: fantasy;

}

@keyframes pulse {
    0% {
        box-shadow: 0 0 0px var(--accent-color-grey);
    }

    100% {
        box-shadow: 0 0 20px var(--accent-color-grey);
    }
}


.arrow {
    position: absolute;
    z-index: 0;
    height: 20px;
    width: 20px;
    left: 55%;
    top: 75%;
    background: linear-gradient(45deg, transparent 40%, #000 40%, #000 60%, transparent 60%);
    border: solid black;
    border-width: 0 5px 5px 0;
    transform-origin: center right;
    transform: rotate(10deg);
}

.line-full {
    position: absolute;
    z-index: 0;
    height: 100%;
    width: 2px;
    left: 50%;
    top: -50%;
    background-color: black;
    border-right: 2px solid var(--accent-color-red);
    box-sizing: border-box;
    transform-origin: center bottom;
}


.line-dashed {
    position: absolute;
    z-index: 0;
    height: 100%;
    width: 2px;
    left: 50%;
    top: -50%;
    border-right: 2px dashed var(--accent-color-red);
    box-sizing: border-box;
    transform-origin: center bottom;
}

/* 45deg angle */
.line-full--45 {
    transform: rotate(45deg);
}

.line-full--30 {
    transform: rotate(30deg);
}

/* 90deg angle */
.line-full--90 {
    transform: rotate(90deg);
}

/* 135deg angle */
.line-full--135 {
    transform: rotate(135deg);
}

/* 180deg angle */
.line-full--180 {
    transform: rotate(180deg);
}

/* 225deg angle */
.line-full--225 {
    transform: rotate(225deg);
}

/* 270deg angle */
.line-full--270 {
    transform: rotate(270deg);
}

/* 315deg angle */
.line-full--315 {
    transform: rotate(315deg);
}

/* 45deg angle */
.line-dashed--45 {
    transform: rotate(45deg);
}

/* 90deg angle */
.line-dashed--90 {
    transform: rotate(90deg);
}

/* 135deg angle */
.line-dashed--135 {
    transform: rotate(135deg);
}

.line-dashed--150 {
    transform: rotate(150deg);
}

/* 180deg angle */
.line-dashed--180 {
    transform: rotate(180deg);
}

/* 225deg angle */
.line-dashed--225 {
    transform: rotate(225deg);
}

/* 270deg angle */
.line-dashed--270 {
    transform: rotate(270deg);
}

/* 315deg angle */
.line-dashed--315 {
    transform: rotate(315deg);
}

.series {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--accent-color-red);
    font-weight: 700;
    font-style: italic;
    box-sizing: border-box;
    text-align: center;
}

.science {
    background-color: var(--science-novel);
}

.first {
    background-color: var(--starter-novel);
}

.tiffany {
    background-color: var(--ya-novel);
}

.short-story {
    background-color: var(--short-story);
}

.r6c9>.book {
    font-size: 10px;
}

.illustrated {
    background-color: var(--ilu-novel);
}

.two-col {
    height: 7.8vw;
    width: 7.8vw;
    margin: auto;
    justify-self: center;
}


.r2c4 .book {
    animation: pulse 2s infinite alternate cubic-bezier(0.42, -0.1, 0, 1.79);
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 11;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.6);
}

.modal__container {
    display: grid;
    width: 50%;
    grid-template: "img naslov naslov"
        "img sadrzaj sadrzaj"
        "img sadrzaj sadrzaj"
        "img back info";
    grid-template-columns: 20vw minmax(0, 1fr) minmax(0, 1fr);
    grid-template-rows: 1fr 1fr 1fr 4rem;
    gap: 1rem;
    border: 2px solid black;
    padding: 1.5rem;
    background-color: #FFF;
    position: relative;
    z-index: 20;
   }

.modal__container>img {
    width: 20vw;
    border: 1px solid black;
    grid-area: img;
}

.modal__container>h3 {
    grid-area: naslov;
    font-size: 1.3rem;
    text-transform: uppercase;
}

.modal__container>p {
    grid-area: sadrzaj;
    justify-self: top;
    text-align: justify;
}

#button-modal-back {
    grid-area: back;
}

#button-modal-moreInfo {
    grid-area: info;
}


#exit-button {
    position: absolute;
    right: 2px;
    top: 2px;
    border-radius: 50%;
    background-color: var(--accent-color-green);
    color: white;
    font-weight: 900;
    padding: 0.5em;
    line-height: 1em;
    text-align: center;
    cursor: pointer;
}